# Example environment file (optional)
# NEXT_PUBLIC_APP_URL=http://localhost:3000
# DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DBNAME
# DATABASE_DIRECT_URL=postgresql://USER:PASSWORD@HOST:PORT/DBNAME
# ADMIN_EMAIL=admin@iead.local
# ADMIN_PASSWORD=Admin@123

NEXT_PUBLIC_MEDIA_BASE_URL=https://<project-ref>.supabase.co/storage/v1/object/public/midias-portal-iead
